body, html {
	height: calc(100% - 25px);
}
body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
b {
    font-weight: 600
}
header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url(/img/desk1-dark.jpg);
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: auto;
    text-align: center;
    color: white;
}
footer {
    padding: 20px;
    margin-bottom: 50px;
}
section.box{
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 0;
    font-family: 'Roboto';
    color: white;
    text-align: center;
}
.last-section {
    margin-bottom: 50px;
}
.box-header {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 10%;
}
.box-content {
    margin-top: 0;
    margin-bottom: 0;
    height: 90%;
    background-color: none;
    overflow: auto;
}

/* ============================== */
.navbar,.navbar-default {
    background-color: #FCFCFC;
}
.navbar-brand{
    font-family: 'Raleway';
    font-size: 20px;
}
#brand-Maine {
    font-weight: 400
}
#brand-Dashboard {
    font-weight: 200
}

/* ============================== */

#header-box, #info-container {
    text-align: center;
    color: #ff5256;
}
#header-Maine, #header-Dashboard {
    margin-top: 30px;
}
#header-Maine {
    font-weight: 600;
}
#header-Dashboard {
    font-weight: 300
}
#info-date {
    font-size: 20px;
    font-weight: 200;
}
/* ============================== */
#info-container,#countdown-container {
    margin-top: 70px;
    text-align: center;
    color: #D4D4D4;
    font-family: 'Raleway';
}
#info-daytype {
    font-size: 30px;
}
#info-time {
    font-size: 70px;
}
#countdown-container {

}
.countdown-desc {
    font-size: 25px;
}
.countdown-timer {
    font-size: 20px;
}



#schedule-box {
    background-color: #FC4349;
}
.table .table {
    background-color: transparent;
    width: inherit;
}
.table tbody tr, .table tbody,table{
    border: none
}





.events-box {
    background-color: #3D3B3D;
}
/* ============================== */


/* ============================== */


/* Medium Screen Size and Up */
@media only screen and (min-width: 992px) {
    #header-Maine, #header-Dashboard {
        font-size: 50px;
    }
    #header-box {
        margin-top: 60px;
        text-align: left;
    }
    #info-container {
        text-align: right;
    }
    #info-daytype {
        font-size: 30px;
    }
    #info-time {
        font-size: 80px;
    }
    #countdown-container {
        text-align: left;
    }
    .countdown-desc {
        font-size: 30px;
    }
    .countdown-time {
        font-size: 20px;
    }

    /* ========== */
    .box-header {
        text-align: left;
    }
}
